body {
  background-color: #EAE7DC;
}
.heading {
  text-align: center;
border-width: 5px;
border-style: solid;
border-color: #E98074;
color: black;
    font-family: "Aclonica";
}
.bigbox {
    font-family: "Aclonica";
  border-width: 5px;
border-style: solid;
border-color: #E98074;
color: #8E8D8A;
    height: 100px;
text-align: center;
}
.paragraph {
    text-align: center;
    color: #8E8D8A;
    font-family: "Aclonica";
}
.paragraphOne {
    border-width: 5px;
    border-style: solid;
border-color: #E98074;
}
.paragraphTwo {
    border-width: 5px;
    border-style: solid;
border-color: #E98074;
}
.paragraphThree {
    border-width: 5px;
    border-style: solid;
border-color: #E98074;
}